 html {
    background: #f7f7f7;
} 

body {
    font-family: 'Barlow', sans-serif;
    background:white;
    margin: 0 auto;
    color: rgb(49, 46, 46);
    text-align: center;
} 
/* mobile first */
header, footer {
    background: #333a40;
    color: white;
    padding: 20px 10px;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
}

input[type="search"] {
    width: 100%;
}

li {
    list-style: none inside;
    margin: 2px;
    padding: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0e69e9;
}
main{
    display: flex;
    flex-flow: row wrap;
}

main h2 {
    width: 100%;
    text-align: left;
}

.product{
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

img {
    max-width: 100%;
}

.button {
    padding: 10px;
    display: inline-block;
}

.button:last-of-type {
    background: #0e69e9;
    color: white;
}

/* product-detail page */
.product-detail {
    display: flex;
    align-items: center;

}
.product-detail img {
    width: 100%;
}

.product-detail section {
    display: flex;
    align-items: space-between;
} 

/* contact us */
form {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form > div {
    margin: 10px 0;
}

.inline label {
    display: inline-block;
    width: 100px;
}

input[type="text"], input[type="email"], textarea{
    padding: 10px;
    width: 50%;
}

/* table */
table {
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

caption {
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted;
    padding: 10px;
}

td, th {
    padding: 10px;
}

tr:hover {
    background: #f5f5f5;
}

@media (min-width: 700px){
    .product{
        width: 31.5%;
    }

    header {
        flex-direction: row;
        align-items:center;
        justify-content: space-between
    }

    input[type="search"] {
        width: 25%;
    }

    header h1 {
        width: 50%;
        text-align: left;
    }

    .product-detail {
        width: 100%;
    }

    .description {
        flex-grow: 1;
    }

}

@media (min-width: 1000px) {
    body {
        text-align: left;
    }

    aside {
        display: inline-block;
        vertical-align: top;
        width: 27%;
        padding: 10px;
    }

    main {
        display: inline-block;
        width: 68%;
        padding: 10px;
    }

    .product {
        display: inline-block;
        width: 48%;
    }

    .product-detail {
        display: flex;
        width: 100%;
    }

    .product-detail img {
        width: 100%;
    }

}

@media (min-width: 1500px) {
    .product {
        width: 30%;
    }

    .product-detail {
        width: 80%;
    }

    .product-detail img {
        width: 100%;
    }

    input[type="text"], input[type="email"], textarea{
        width: 35%;
    }
}





